<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Free APIs - Uploader</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<meta property="og:image" content="https://i.ibb.co/1b82V4F/mrtom-removebg-preview.png" />
	<link rel="shortcut icon"
		href="https://cdn.freebiesupply.com/logos/large/2x/the-ground-round-2-logo-png-transparent.png">
	<meta property="og:title" content="Uploader -MTX Free APIs" />
	<meta name="description" content=" MTX-Project ">
</head>

<body>
	<div class="row">
		<div class="col card-body">
			<h1 class="text-center text-uppercase font-weight-bold">File Uploader - Fxc7</h1>
		</div>
		<div class="col card-body align-item-center">
			<form class="form-control" ref="uploadForm" id="uploadForm" action="/api/tools/upload" method="post"
				encType="multipart/form-data">
				<input class="form-control" type="file" name="sampleFile" required>
				<input class="form-control btn btn-primary mt-3 mb-3" type="submit" value="Upload">
			</form>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
		integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
		crossorigin="anonymous"></script>
</body>

</html>